<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createValoracion">Crear nueva valoracion</label>
                <label ng-if="edit" id="editValoracion">Editar Valoracion</label></div>
            <div class="panel-body">
                <form name="valoracion">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4">Puntaje </label>
                            <input type="number" name="valoracion" value="3" required ng-model="data.valoracion" class="col-sm-4"/><br>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4">Comentario </label>
                            <input type="text" name="comentario" value="paila" required ng-model="data.comentario" class="col-sm-4" /><br>
                        </div>
                    </div>

                    
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="valoracion.$valid" ng-click="createValoracion()" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="valoracionesList">Cancel</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!valoracion.$valid">

                            <div class="alert alert-warning" >
                                <strong>Atención!</strong><p>Debe ingresar todos los campos*</p>
                            </div> 
                        </div> 
                    </div> 
                </form>

            </div>
        </div>
    </div>
</div>
