<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid" style="text-align: center">
            <h2><strong>Valoraciones</strong></h2>
            <br>
            <table class="table table-hover table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Pubntaje</th>
                    <th>Comentario</th>
                </tr>
                <tr ng-repeat="valoracion in valoracionesRecords">
                    <td><a ui-sref="valoracionDetail({valoracionId: valoracion.id})">{{valoracion.id}}</a></td>
                    <td>{{valoracion.valoracion}}</td>
                    <td>{{valoracion.comentario}}</td>
                </tr>
            </table>
            <div class="row" style="text-align: center">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a class="btn btn-info" ui-sref="valoracionCreate"><span class="glyphicon glyphicon-plus-sign"></span>Crear Valoracion</a>
                </div>
            </div>
</div>
