<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
            <h2><strong>Providencia</strong></h2>
            <table class="table table-hover table-bordered" style="text-align: center">
                <tr>
                    <th>ID</th>
                    <th>Pais</th>
                    <th>Region</th>
                </tr>
                <tr ng-repeat="providencia in providenciaRecords">
                    <td><a ui-sref="providenciaDetail({providenciaId: providencia.id})">{{providencia.id}}</a></td>
                    <td>{{providencia.pais}}</td>
                    <td>{{providencia.region}}</td>
                </tr>
            </table>
             <div class="row" style="text-align: center">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a class="btn btn-info" ui-sref="providenciaCreate"><span class="glyphicon glyphicon-plus-sign"></span>Agregar Providencia</a>
                </div>
            </div>
           
</div>

