<div class="panel panel-default"> 
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                    <h1 class="bold">{{currentServicio.tipo}}</h1>
                </div>
            </div>
            <div class="col-md-3">
                <dl> 
                    <dt class="bold">¿Es un servicio adicional?</dt>
                        <span ng-if="currentServicio.adicional==true">
                         <dd>
                            Sí.
                         </dd>
                        </span>
                        <span ng-if="currentServicio.adicional==false">
                        <dd>
                            No.
                        </dd>
                        </span>
                    <hr>
                    <dt class="bold">Precio mensual asociado</dt>
                    <dd>{{currentServicio.precioMensual}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
