<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
            <h2><strong>Servicios</strong></h2>
            <table class="table table-hover table-bordered" style="text-align: center">
                <tr>
                    <th>ID</th>
                    <th>Tipo de servicio</th>
                </tr>
                <tr ng-repeat="servicio in serviciosRecords">
                    <td>{{servicio.id}}</td>
                    <td><a ui-sref="servicioDetail({servicioId: servicio.id})">{{servicio.tipo}}</a></td>
                </tr>
            </table>
            <div class="row" style="text-align: center">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a class="btn btn-info" ui-sref="servicioCreate"><span class="glyphicon glyphicon-plus-sign"></span>Crear Servicio</a>
                </div>
            </div>
</div>
