<div class="logIn">   
    <div class="row"> <br> <br> <br> <br> <br> <br> <br> </div>
    <div class="row"> 
        <div class="col-md-1"> </div>     
        <div class="col-md-10"> 
            <div class="thumbnail" style="padding: 0px!important;"> 
                <div class="img-rounded form-group row" style="margin-bottom: 0px!important; margin: 0px!important;">

                    <div class="col-md-4" style="background-color: darkorange; text-align: center; max-height: 400px; min-height: 400px;" >
                        <p style="text-align: center;">
                            <img class="img-rounded" src="src/modules/arrendatarios/Img/logo.png" alt="Logo" style="text-align: center; height: 100%"/>
                        </p>
                    </div>

                    <div class="col-md-1"> </div>

                    <div class="pull-left col-md-5">
                        
                        <br>

                        <div class="alert alert-info alert-dismissible" ng-if="alerts.length >0" close="closeAlert()">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
                            <span style="font-family: 'Roboto', sans-serif; color: navy; font-size: 1.3em;">  <strong>Hey!</strong> </span>
                            <span style="font-family: 'Roboto', sans-serif; color: navy; font-size: 1.3em;"> {{alerts[alerts.length - 1].msg}}  </span> 
                        </div>
                        
                        <hr>  
                        <p class="pull-left" style="font-family: 'Roboto', sans-serif; font-size: 1.5em; color: navy;"> Usuario o Correo </p>
                            <input type="text" class="form-control" placeholder="Username" required="" autofocus="" ng-model="userName">
                        <br> <br> 
                        <p class="pull-left" style="font-family: 'Roboto', sans-serif; font-size: 1.5em; color: navy;"> Clave </p> 
                            <input type="password" class="form-control" placeholder="Password" required="" ng-model="claveX"> 
                        <br> 
                        <p style="text-align: center;">
                            <button type="button" class="btn btn-primary btn-lg" ng-click="autenticar()"> Ingresar </button>
                        </p>
                        
                        <br> 
                        <p style="text-align: center; font-family: 'Roboto', sans-serif; font-size: 1.2em;">
                            ¿No tienes una cuenta? <a ui-sref="signUp"> <span style="color: navy;"> Regístrate </span> </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-md-1"> </div>    
    </div>
</div>
