<form ng-submit="updateEvento()" name="evento">
                    <div class="form-group row">    
                        <div class="form-group col-md-6">
                            <label for="id" class="col-sm-2">ID:</label>
                            <input id="id" readonly ng-model="id" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="nombre" class="col-sm-2">Nombre:</label>
                            <input id="nombre"  ng-model="nombre" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="capacidad" class="col-sm-2">Capacidad:</label>
                            <input id="capacidad" required ng-model="capacidad" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="fecha" class="col-sm-2">Fecha: </label>
                            <input id="fecha" placeholder="DD/MM/YYYY HH:mm" required ng-model="fecha" class="col-sm-6"></input>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="tipo" class="col-sm-2">Tipo:</label>
                            <input id="tipo" required ng-model="tipo" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="latitud" class="col-sm-2">Latitud:</label>
                            <input id="latitud" required ng-model="latitud" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="longitud" class="col-sm-2">Longitud:</label>
                            <input id="longitud" required ng-model="longitud" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-2">Es privado</label>
                            <input type="radio" value="true" ng-model="privado" class="col-sm-6" checked/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-2">Es público</label>
                            <input type="radio" value="false" ng-model="privado" class="col-sm-6"/>
                        </div>
                    </div>
                   <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!evento.$valid">
                            <div class="alert alert-warning">
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="evento.$valid" type="submit" value="Modificar" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="eventosList">Cancel</a>
                        </div>
                    </div>
</form>
