<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre evento</th>
                        <th>Fecha evento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="evento in eventosRecords">
                        <td><a ui-sref="eventoDetail({eventoId: evento.id})">{{evento.id}}</a></td>
                        <td>{{evento.nombreEvento}}</td>
                        <td>{{evento.fechaEvento}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
