<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createFactura">Crear nueva Factura</label>
                <label ng-if="edit" id="editFactura">Editar Factura</label></div>
            <div class="panel-body">
                <form name="factura">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4">Costo fijo:</label>
                            <input type="number" name="fijo" value="500000" required ng-model="data.costoFijo" class="col-sm-4"/><br>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label class="col-sm-4">Costos adicionales:</label>
                            <input type="number" name="adicional" value="200000" required ng-model="data.costosAdicionales" class="col-sm-4" /><br>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-8">
                            <label for="facturaIN" class="col-sm-3">Fecha de entrada:<br><h5>Ingrese una fecha superior o igual a <span id="fechaHoy">...</span> : </h5></label>

                            <input id="fechaHoyIN" class="col-sm-3" type="date" name="bday" required ng-model="data.fechaEntrada"/><br><br>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-8">
                            <label for="facturaIN" class="col-sm-3">Fecha de salida:<br><h5>Ingrese una fecha superior o igual a <span id="fechaMesDespues">...</span>:</h5> </label>
                            <input id="fechaMesDespuesIN" class="col-sm-3" type="date" name="bday2" required ng-model="data.fechaSalida"/><br><br>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-9">
                            <label for="facturaIN" class="col-sm-8">¿Desea dividir el cargo de mis servicios adicionales con los otros inquilinos? <br>  
                                <input type="radio" name="dividir" value=true required ng-model="data.dividirCuentaServicios" class="col-sm-1"/>Sí.<br>
                                <input type="radio" name="dividir" value=false required ng-model="data.dividirCuentaServicios" class="col-sm-1"/>No.<br>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-8">
                             <label for="facturaIN" class="col-sm-3">Forma de pago: </label>
                             <select name="pago" required ng-model="data.formaDePago" class="col-sm-3">
                                <option value="unico">Cargo Unico</option>
                                <option value="mens">Cobros Mensuales</option>
                            </select>
                        </div>
                    </div>
                    <script src="src/modules/facturas/new/facturas.new.js" type="text/javascript"></script>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!factura.$valid">

                            <div class="alert alert-warning" >
                                <strong>Atención!</strong><p>Se requieren todos los campos*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="factura.$valid" ng-click="createFactura()" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="facturasList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
