<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <p class="col-sm-3">Filtros: </p>
                 <div class="form-group row">
                        <div class="form-group col-md-8">
                             <label for="facturaIN" class="col-sm-3">Servicios Incluidos: </label> <br> 
                             <label ng-repeat="servicio in data2"class="col-sm-12">
                                <input type="checkbox" data-checklist-model="data.serviciosExtra" data-checklist-value="servicio" ng-click="cambiarFiltro3(servicio.id)"> {{servicio.tipo}}
                             </label><br>
                        </div>
                </div>
                <div class="form-group row">
                        <div class="form-group col-md-8">
                                <input type="range" name="precio" min="0" max="10000000" ng-click="cambiarFiltro3(value)">
                        </div>
                </div>
                <div class="form-group row">
                        <div class="form-group col-md-8">
                                <input type="checkbox" name="dividir" value=true ng-click="cambiarFiltro1()" class="col-sm-1"/>Ordenar por precio<br>
                        </div>
                </div>
                <div class="form-group row">
                        <div class="form-group col-md-8">
                                <input type="text" name="precio" min="0" max="10000000" ng-click="cambiarFiltro4(value)">
                        </div>
                </div>
        </div>
        <div class="col-md-9">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Direccion </th>
                        <th>Capacidad</th>
                        <th>Disponibilidad</th>
                        <th>Tipo de alojamiento</th>
                        <th>Precio Mensual</th>
                        <th>Vivienda </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vivienda in viviendasRecords">
                        <td>{{vivienda.direccion}}</td>
                        <td>{{vivienda.capacidad}}</td>
                        <td>{{vivienda.disponible}}</td>
                        <td>{{vivienda.tipoAlojamiento}}</td>
                        <td>{{vivienda.precioMensual}}</td>
                        <td><a ui-sref="viviendaDetail({viviendaId: vivienda.id})"> Ir </a></td>
                    
                    </tr>
                </tbody>
            </table>
            <div class="row" style="text-align: center">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a class="btn btn-info" ui-sref="viviendasCreate"><span class="glyphicon glyphicon-plus-sign"></span>Crear Vivienda</a>
                </div>
            </div>
        </div>
    </div>
</div>
