<style> hr{display: block; border: 0.5px solid lightgrey;}</style>
<div class= "imageArr" ng-if="hasPermissions()" >
            <div class="container-fluid">
                <div class="container">
                    <div class="paddingArriba"> 
                        <div class="row"> <br> </div>  
                        <div>
                            <div class="thumbnail" style="padding: 1em 2.5em;"> 
                                <div class="row" style="height: 0.5em;">
                                    <div class="col-md-11">
                                        <h2 class = "h2Jose"><strong> Arrendatarios </strong></h2>
                                        <hr>
                                    </div>
                                    <div class="col-md-1">                      
                                        <a ui-sref="arrendatarioCreate">
                                        <h1 style="color: orange"> +  </h1> 
                                        </a>
                                    </div>
                                </div>
                                <div class= "row" style="padding: 1em; padding-left: 10em;">
                                    <div class="col-md-6" ng-repeat="arrendatario in arrendatarioRecords"> 
                                        <div class="thumbnail" style="padding: 1em; max-height: 15em; min-height:15em; max-width: 19em; min-width: 19em; ">
                                            <a ui-sref="arrendatarioDetail({arrendatarioId: arrendatario.id})">
                                                <img class = "img-rounded" ng-src="{{arrendatario.imagen}}" style="max-height: 11em; min-height: 11em;"/> 
                                            </a>
                                            <p class="X-NickyJam"> <strong>  {{arrendatario.nombre}}: </strong> <span>  {{arrendatario.edad}} </span> </p>   
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

<div class= "imageArr" ng-if="!hasPermissions()" >
    <div class="container-fluid">
        <div class="container">
            <div class="paddingArriba"> 
                <div class="row"> <br> </div>  
                <div>
                    <div class="thumbnail" style="padding: 1em 2.5em;"> 
                        <div class="row">
                            <div class="col-md-11">
                                <h2 class = "h2Jose"><strong> Este es un servicio para Administradores de Lease Me App </strong></h2>
                                <hr>

                                <div class="form-group row">
                                    <div class="col-md-6"><img class="img-rounded" src="src/modules/arrendatarios/Img/logo.png" alt="Logo" style="text-align: center; height: 40%"/></div>
                                    <div class="col-md-6">
                                        <br><br>
                                        <p style="text-align: center; font-family: 'Roboto', sans-serif; font-size: 1.5em">
                                            Si quieres aportar aún más a esta comunidad, llámanos! 
                                        </p>
                                        <br>
                                        <p>
                                            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/29541-200.png" alt="X" style="max-height: 40%; max-width: 40%;"/>
                                            <span style="text-align: center; font-family: 'Roboto', sans-serif; font-size: 1.5em; padding-bottom: 2em;"> &nbsp; &nbsp; &nbsp; +57 310 375 4658 </span>
                                        </p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>