.Hola{
  text-align: left;
  font-size: 19px;
  font-style: italic;
  line-height: 22px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 } 
 
 .panel-headings{
  text-align: center;
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }
 
 .intro-lead-in {
  font-size: 21px;
  font-style: italic;
  line-height: 22px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: navy;
}

 .intro-lead-inDos {
     font-size: 28px;
     font-style: italic;
     font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     color: navy;
     padding-top: 10px;
}

.dd {
  padding: 19px;
  font-size: 19px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: cadetblue;
}

.img-rounded {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto\9; 
}

.elBoton{
    padding: 40px;
}

.Ostias-chaval{
    padding-left: 10px;
    padding-top: 2.8em;
}

.cuentasBox {
    background-color:skyblue;
}

 .intro-lead-inTres {
     font-size: 21px;
     font-style: italic;
     font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     color: navy;
     padding-left: 10px;
}

.cB{
    padding-left: 40px;
}

.paddingArriba{
    padding: 2em;
}

.imageArr{
    background-image: url("https://images.pexels.com/photos/463734/pexels-photo-463734.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    min-width: 100%; 
    min-height: 100%;
}

.h2Jose{
    padding-left: 0.01em;
    font-family: 'Roboto', sans-serif;
    color: navy;
}

.h1Jose{
    font-size: 21px;
} 

.X-NickyJam{
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   text-align: center;
   font-weight: bold;
   padding-top: 1em;
}

.Join-Us {
    padding-top: 1em;
    padding-left: 1.2em;
    font-family: 'Permanent Marker', cursive;
    font-size: 38px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.deleteView {
    background-image: url("https://images.pexels.com/photos/731082/pexels-photo-731082.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    min-width: 100%; 
    min-height: 100%;
    filter: grayscale(70%);
}
.content {
    position: fixed;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 98%;
    padding: 20px;
}

.deleteH1 {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;   
}

.signUpBG{
    background-image: url("https://images.pexels.com/photos/541518/pexels-photo-541518.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    min-width: 100%; 
    min-height: 100%;
}


body{
    background-image: url("https://images.pexels.com/photos/541518/pexels-photo-541518.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    min-width: 100%; 
    min-height: 100%;
}

.verticalLine {
  border-left: thick solid tomato;
}

.logIn{
    background-image: url("https://images.pexels.com/photos/541518/pexels-photo-541518.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    min-width: 100%; 
    min-height: 100%;
}

.logOut{
    background-image: url("https://images.pexels.com/photos/1059976/pexels-photo-1059976.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    min-width: 100%; 
    min-height: 100%;
}
.mySlides {
    display:none;
}

@media only screen and (max-width: 500px) {
    .mapa {
        width: 250px !important;
        height: 250px !important;
    }
}

@media only screen and (max-width: 350px) {
    .mapa {
        width: 200px !important;
        height: 200px !important;
    }
}